<% provide(:title, "About") %>
<img class="img-responsive" src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/09/DSCF3342-960x350.jpg">
<h1 class="">ประวัติภาควิชา</h1>
<h2 class="topic">ภาควิชาวิศวกรรมคอมพิวเตอร์</h1>

<p>ภาควิชาวิศวกรรมคอมพิวเตอร์ คณะวิศวกรรมศาสตร์ มหาวิทยาลัยเกษตรศาสตร์ วิทยาเขตบางเขน ถูกก่อตั้งอย่างเป็นทางการเมื่อวันที่ 3 กุมภาพันธ์ พ.ศ. 2532 โดยมีพันธกิจที่จะต้องดำเนินการสอน การวิจัย การสะสมองค์ความรู้ และการบริการวิชาการ ตามความชำนาญของภาควิชาฯ ผนวกกับการทำนุบำรุงศิลปวัฒนธรรมและรักษาเอกลักษณ์ของประเทศ ทั้งนี้ให้เป็นไปตามความต้องการของประเทศ ซึ่งภาควิชาฯ ได้ดำเนินการเพื่อสนองพันธกิจข้างต้น ด้วยการพัฒนาภาควิชาฯ ให้มีศักยภาพและความชำนาญในสาขาต่าง ๆ คือ สาขาวิศวกรรมคอมพิวเตอร์ สาขาเทคโนโลยีสารสนเทศ สาขาวิศวกรรมซอฟต์แวร์ และสาขาวิศวกรรมความรู้</p>
<p>ในส่วนการเรียนการสอน ภาควิชาฯ ได้เปิดหลักสูตรเพื่อสนองความต้องการของประเทศจำนวน 5 หลักสูตร แบ่งเป็นหลักสูตรระดับปริญญาตรี 1 หลักสูตร หลักสูตรนานาชาติระดับปริญญาตรี 1 หลักสูตร หลักสูตรระดับปริญญาโท 2 หลักสูตร และหลักสูตรระดับปริญญาเอก 1 หลักสูตร คือ</p>
<ul>
<li>หลักสูตรวิศวกรรมศาสตรบัณฑิต สาขาวิศวกรรมคอมพิวเตอร์</li>
<li>หลักสูตรวิศวกรรมศาสตรบัณฑิตนานาชาติ สาขาวิศวกรรมซอฟต์แวร์และความรู้</li>
<li>หลักสูตรวิทยาศาสตรมหาบัณฑิต สาขาเทคโนโลยีสารสนเทศ</li>
<li>หลักสูตรวิศวกรรมศาสตรมหาบัณฑิต สาขาวิศวกรรมคอมพิวเตอร์</li>
<li>หลักสูตรวิศวกรรมศาสตรดุษฎีบัณฑิต สาขาวิศวกรรมคอมพิวเตอร์</li>
</ul>
<p>นอกจากนี้ภาควิชาฯ ยังให้ความร่วมมือในการสอนรายวิชาหลัก รายวิชารอง และรายวิชาเลือก ที่อยู่ในความชำนาญของภาควิชาฯ ดังได้กล่าวข้างต้น ให้แก่หลักสูตรอื่นๆ ทั้งที่เป็นของภาควิชาฯ ภายใต้คณะวิศวกรรมศาสตร์ ภาควิชาต่างคณะ และภาควิชาในต่างวิทยาเขต</p>
<p>ในด้านการวิจัย ภาควิชาฯ ได้ดำเนินการจนมีการจัดตั้งหน่วยวิจัยต่างๆ มากมาย ตั้งแต่ระดับสถาบันวิจัย ศูนย์วิจัยชำนาญเฉพาะ จนถึงระดับห้องปฏิบัติการวิจัย ทั้งที่อยู่ภายใต้ความดูแลของมหาวิทยาลัยฯ คณะฯ และภาควิชาฯ เอง ก่อให้เกิดความร่วมมือด้านการวิจัย กับสถาบันการศึกษาทั้งในและต่างประเทศ สถาบันวิจัยรัฐบาลทั้งในและต่างประเทศ และหน่วยงานวิจัยของบริษัทเอกชนชั้นนำทั้งในและต่างประเทศ โดยมีแหล่งทุนวิจัยทั้งจากเงินงบประมาณมหาวิทยาลัยเกษตรศาสตร์ หน่วยงานภาครัฐ รัฐบาลต่างประเทศ และบริษัทเอกชนทั้งในและต่างประเทศ ซึ่งภาควิชาฯ ได้ดำเนินโครงการวิจัยทั้งในลักษณะการวิจัยพื้นฐานและการวิจัยประยุกต์ ในสาขาความชำนาญของภาควิชาฯ ที่กล่าวไว้ข้างต้น</p>
<p>ในด้านการสะสมองค์ความรู้ ภาควิชาฯ มีการส่งเสริมให้คณาจารย์ นักวิจัย และเจ้าหน้าที่ เพิ่มพูนความรู้ให้แก่ตนเองและภาควิชาฯ อย่างต่อเนื่อง ทั้งในรูปการศึกษาต่อ การเข้าฟังอบรมวิชาการ การเข้าร่วมเสนอผลงานทางวิชาการ การร่วมมือวิจัยกับผู้เชี่ยวชาญทั้งในและต่างประเทศ โดยภาควิชาฯ มีการจัดเก็บองค์ความรู้ทั้งในสภาพเอกสาร และการถ่ายทอดความรู้ความชำนาญในระหว่างบุคลากรภายในหน่วยวิจัย</p>
<p>จากองค์ความรู้สะสมของภาควิชาฯ นอกจากจะได้ถ่ายทอดทั้งในทางกว้างและทางลึกไปสู่นิสิตในสังกัดภาควิชาฯ โดยตรงแล้ว ยังมีการกลั่นกรองให้อยู่ในรูปที่เข้าใจง่ายและชัดเจน แล้วถ่ายทอดสู่สาธารณะในรูปแบบการอบรมทางวิชาการ การจัดค่ายทางวิชาการ และการให้คำปรึกษา ทั้งแก่บุคคลทั่วไปและผู้ประกอบวิชาชีพเฉพาะทาง ทั้งภาครัฐและเอกชน จากองค์กรทั้งในและต่างประเทศ</p>
<p>ปัจจุบัน ภาควิชาฯ ยังคงยึดถือพันธกิจอย่างเหนียวแน่น และได้ดำเนินการทุกวิถีทางอย่างต่อเนื่อง เพื่อสร้างฐานทรัพยากร ในรูปองค์ความรู้และบัณฑิตผู้มีความชำนาญในสาขาวิชาชีพ และส่งเสริมให้ประเทศมีความเข้มแข็งเชิงวิชาการและจรรยาบรรณ เพื่อการแข่งขันกับนานาชาติอย่างทัดเทียมต่อไป</p>