<div class="widget">
	<h1 class="post-title">Seniors &#038; Executive Members</h1>							
	<div class="divider">&nbsp;</div>
				<div class="post-content">
					<table style="height: 52px;" width="100%">
<tbody>
<tr>
<td class="center"><a title="ชัยยงค์ วงศ์ชัยสุวัฒน์" href="https://www.cpe.ku.ac.th/?page_id=729"><img class="aligncenter wp-image-526 size-full" src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-14-14-13.jpg" alt="" width="90" height="126" srcset="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-14-14-13.jpg 90w, https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-14-14-13-39x55.jpg 39w" sizes="(max-width: 90px) 100vw, 90px" /></a></td>
<td class="center"><img class="aligncenter wp-image-1594" src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/09/yuen1.jpg" alt="" width="90" height="126" srcset="https://www.cpe.ku.ac.th/wp-content/uploads/2014/09/yuen1.jpg 180w, https://www.cpe.ku.ac.th/wp-content/uploads/2014/09/yuen1-39x55.jpg 39w" sizes="(max-width: 90px) 100vw, 90px" /></td>
</tr>
<tr>
<td > Assoc. Prof. Chaiyong WONGCHAISUWAT</td>
<td >Assoc. Prof. Yuen POOVORAWAN</td>
</tr>
</tbody>
</table>
