<table style="width: 100%;" border="0" cellspacing="0" cellpadding="0">
	<tbody>
		<tr>
			<td colspan="4">&nbsp;&nbsp;&nbsp;<img class="aligncenter wp-image-1650 size-full" src="https://www.cpe.ku.ac.th/wp-content/uploads/2015/01/Anan-New.jpg"
				 alt="" width="180" height="252" srcset="https://www.cpe.ku.ac.th/wp-content/uploads/2015/01/Anan-New.jpg 180w, https://www.cpe.ku.ac.th/wp-content/uploads/2015/01/Anan-New-39x55.jpg 39w"
				 sizes="(max-width: 180px) 100vw, 180px"></td>
		</tr>
		<tr>
			<td style="text-align: center;" colspan="4">Anan PHONPHOEM&nbsp;,Ph.D.<br>
				<em>Department Head &nbsp;and&nbsp;Public Relations&nbsp;Committee</em>
			</td>
		</tr>
		<tr>
			<td colspan="2">&nbsp;
				<a href="https://www.cpe.ku.ac.th/?page_id=629"><img class="aligncenter wp-image-531 size-full" src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-19-19-21.jpg"
					 alt="" width="90" height="126" srcset="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-19-19-21.jpg 90w, https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-19-19-21-39x55.jpg 39w"
					 sizes="(max-width: 90px) 100vw, 90px"></a>
			</td>
			<td>
				<a href="https://www.cpe.ku.ac.th/?page_id=650"><img class="aligncenter wp-image-552 size-full" src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-40-40-26.jpg"
					 alt="14-KUENG-PHO-01-40-40-26" width="90" height="126" srcset="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-40-40-26.jpg 90w, https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-40-40-26-39x55.jpg 39w"
					 sizes="(max-width: 90px) 100vw, 90px"></a>
			</td>
		</tr>
		<tr>
			<td style="width: 50%; text-align: center;" colspan="2">Kitsana WAIYAMAI ,D.U.<br>
				<em>Department&nbsp;Deputy</em>
			</td>
			<td style="width: 50%; text-align: center;">Chaiporn JAIKAEO&nbsp;,Ph.D.<br>
				<em>Department&nbsp;Deputy</em>
			</td>
		</tr>
	</tbody>
</table>
<p>&nbsp;</p>
<p>
	<strong>Department Committee</strong>
</p>
<table style="width: 100%;">
	<tbody>
		<tr>
			<td>
				<a href="https://www.cpe.ku.ac.th/?page_id=665"><img class="aligncenter wp-image-532 size-full" src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-20-20-20.jpg"
					 alt="14-KUENG-PHO-01-20-20-20" width="90" height="126" srcset="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-20-20-20.jpg 90w, https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-20-20-20-39x55.jpg 39w"
					 sizes="(max-width: 90px) 100vw, 90px"></a>
			</td>
			<td>
				<a title="สมชาย นำประเสริฐชัย" href="https://www.cpe.ku.ac.th/?page_id=689"><img class="aligncenter wp-image-535 size-full" src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-23-23-32.jpg"
					 alt="14-KUENG-PHO-01-23-23-32" width="90" height="126" srcset="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-23-23-32.jpg 90w, https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-23-23-32-39x55.jpg 39w"
					 sizes="(max-width: 90px) 100vw, 90px"></a>
			</td>
			<td>
				<a href="https://www.cpe.ku.ac.th/?page_id=641"><img class="aligncenter wp-image-541 size-full" src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-29-29-13.jpg"
					 alt="jitti" width="90" height="126" srcset="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-29-29-13.jpg 90w, https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-29-29-13-39x55.jpg 39w"
					 sizes="(max-width: 90px) 100vw, 90px"></a>
			</td>
		</tr>
		<tr>
			<td style="text-align: center;">Punpiti PIAMSA-NGA ,D.Sc.<br>
				<em>Research Invention and Innivation Committee</em>
			</td>
			<td style="text-align: center;">Somchai NUMPRASERTCHAI ,Ph.D.<br>
				<em>Planning and Quality Assurance&nbsp;Committee</em>
			</td>
			<td style="text-align: center;">Jitti NIRAMITRANON ,Ph.D.<br>
				<em>Physical Infrastructure&nbsp;Committee</em>
			</td>
		</tr>
		<tr>
			<td>
				<a href="https://www.cpe.ku.ac.th/?page_id=644"><img class="aligncenter wp-image-556 size-full" src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-44-44-40.jpg"
					 alt="jittat" width="90" height="126" srcset="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-44-44-40.jpg 90w, https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-44-44-40-39x55.jpg 39w"
					 sizes="(max-width: 90px) 100vw, 90px"></a>
			</td>
			<td>
				<a title="อภิรักษ์ จันทร์สร้าง" href="https://www.cpe.ku.ac.th/?page_id=711"><img class="aligncenter wp-image-534 size-full" src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-22-22-26.jpg"
					 alt="14-KUENG-PHO-01-22-22-26" width="90" height="126" srcset="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-22-22-26.jpg 90w, https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-22-22-26-39x55.jpg 39w"
					 sizes="(max-width: 90px) 100vw, 90px"></a>
			</td>
			<td>
				<a title="สุภาพร เอื้อจงมานี" href="https://www.cpe.ku.ac.th/?page_id=698"><img class="aligncenter wp-image-551 size-full" src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-39-39-25.jpg"
					 alt="14-KUENG-PHO-01-39-39-25" width="90" height="126" srcset="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-39-39-25.jpg 90w, https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-39-39-25-39x55.jpg 39w"
					 sizes="(max-width: 90px) 100vw, 90px"></a>
			</td>
		</tr>
		<tr>
			<td style="text-align: center;">Jittat FAKCHAROENPHOL ,Ph.D.<br>
				<em>Students Affairs&nbsp;Committee</em>
			</td>
			<td style="text-align: center;">Aphirak JANSANG ,D.Eng.<br>
				<em>Computer Networks and Information Technology&nbsp;Committee</em>
			</td>
			<td style="text-align: center;">&nbsp; &nbsp; Supaporn ERJONGMANEE ,Ph.D.<br>
				<em>Acadamic Affiars&nbsp;Committee</em>
			</td>
		</tr>
		<tr>
			<td style="text-align: center;">
				<a href="https://www.cpe.ku.ac.th/?page_id=653"><img class="aligncenter wp-image-554 size-full" src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-42-42-38.jpg"
					 alt="14-KUENG-PHO-01-42-42-38" width="90" height="126" srcset="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-42-42-38.jpg 90w, https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-42-42-38-39x55.jpg 39w"
					 sizes="(max-width: 90px) 100vw, 90px"></a>
			</td>
			<td style="text-align: center;"></td>
			<td style="text-align: center;"></td>
		</tr>
		<tr>
			<td style="text-align: center;">Thanawin RAKTHANMANON ,Ph.D.<br>
				<em>International Undergrad Program&nbsp;Committee</em>
			</td>
			<td style="text-align: center;"></td>
			<td style="text-align: center;"></td>
		</tr>
	</tbody>
</table>