<div class="container">
    <h1>Bachelor of Engineering in Computer Engineering</h1>
    <h2>
        ชื่อหลักสูตร
    </h2>
    <strong>ภาษาไทย</strong>
    วิศวกรรมศาสตรบัณฑิต สาขาวิชาวิศวกรรมคอมพิวเตอร์<br>
    <strong>ภาษาอังกฤษ</strong>
    Bachelor of Engineering Program in Computer Engineering
    <h2>
        ชื่อปริญญา
    </h2>
    <strong>ชื่อเต็ม</strong>
    วิศวกรรมศาสตรบัณฑิต (วิศวกรรมคอมพิวเตอร์)<br>
    <strong>ชื่อย่อ</strong>
    วศ.บ. (วิศวกรรมคอมพิวเตอร์)<br>
    <strong>ชื่อเต็ม</strong>
    Bachelor of Engineering (Computer Engineering)<br>
    <strong>ชื่อย่อ</strong>
    B.Eng. (Computer Engineering)
    <h2>หลักสูตร</h2>
    จำนวนหน่วยกิตรวมตลอดหลักสูตร ไม่น้อยกว่า 141 หน่วยกิต
    <h3>โครงสร้างหลักสูตร</h3>
    <h4>
        <strong>1. หมวดวิชาศึกษาทั่วไป ไม่น้อยกว่า 30 หน่วยกิต</strong>
    </h4>
    1. กลุ่มวิชาวิทยาศาสตร์และคณิตศาสตร์ 10 หน่วยกิต
    <br>
    2. กลุ่มวิชาภาษา 12 หน่วยกิต
    <br>
    3. กลุ่มวิชาสังคมศาสตร์ 3 หน่วยกิต
    <br>
    4. กลุ่มวิชามนุษยศาสตร์ 3 หน่วยกิต
    <br>
    5. กลุ่มวิชาพลศึกษา 2 หน่วยกิต
    <h4>
        <strong>2. หมวดวิชาเฉพาะ ไม่น้อยกว่า 105 หน่วยกิต</strong>
    </h4>
    1. วิชาแกน 21 หน่วยกิต
    <br>
    2. วิชาเฉพาะบังคับ 66 หน่วยกิต
    <br>
    3. วิชาเฉพาะเลือก 18 หน่วยกิต
    <h4>
        <strong>3. หมวดวิชาเลือกเสรี ไม่น้อยกว่า 6 หน่วยกิต</strong>
    </h4>
    <h4>
        <strong>4. การฝึกงาน ไม่น้อยกว่า 240 ชั่วโมง (ไม่นับหน่วยกิต)</strong>
    </h4>
</div>
