<div class="post-content">
    <table style="width: 100%;">
        <tbody>
            <tr>
                <td><img
                    class="aligncenter wp-image-1650 size-full"
                    src="https://www.cpe.ku.ac.th/wp-content/uploads/2015/01/Anan-New.jpg"
                    alt=""
                    width="90"
                    height="126"
                    srcset="https://www.cpe.ku.ac.th/wp-content/uploads/2015/01/Anan-New.jpg 180w, https://www.cpe.ku.ac.th/wp-content/uploads/2015/01/Anan-New-39x55.jpg 39w"
                    sizes="(max-width: 90px) 100vw, 90px"></td>
                <td style="text-align: center;">Assoc. Prof.&nbsp;Anan&nbsp;&nbsp;PHONPHOEM</td>
                <td style="text-align: center;">2014 – present</td>
            </tr>
            <tr>
                <td><img
                    class="aligncenter size-full wp-image-520"
                    src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-8-8-30.jpg"
                    alt="14-KUENG-PHO-01-8-8-30"
                    width="90"
                    height="126"
                    srcset="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-8-8-30.jpg 90w, https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-8-8-30-39x55.jpg 39w"
                    sizes="(max-width: 90px) 100vw, 90px"></td>
                <td style="text-align: center;">Asst. Prof. Putchong&nbsp;&nbsp;UTHAYOPAS</td>
                <td style="text-align: center;">2011 – 2014</td>
            </tr>
            <tr>
                <td><img
                    class="aligncenter size-full wp-image-519"
                    src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-7-7-15.jpg"
                    alt="14-KUENG-PHO-01-7-7-15"
                    width="90"
                    height="126"
                    srcset="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-7-7-15.jpg 90w, https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-7-7-15-39x55.jpg 39w"
                    sizes="(max-width: 90px) 100vw, 90px"></td>
                <td style="text-align: center;">Asst. Prof. Kemathat VIBHATAVANIJ</td>
                <td style="text-align: center;">2006 – 2010</td>
            </tr>
            <tr>
                <td><img
                    class="aligncenter size-full wp-image-557"
                    src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-45-45-25.jpg"
                    alt="14-KUENG-PHO-01-45-45-25"
                    width="90"
                    height="126"
                    srcset="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-45-45-25.jpg 90w, https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-45-45-25-39x55.jpg 39w"
                    sizes="(max-width: 90px) 100vw, 90px"></td>
                <td style="text-align: center;">Asst. Prof.&nbsp;Pirawat WATANAPONGSE</td>
                <td style="text-align: center;">2002 -2006</td>
            </tr>
            <tr>
                <td><img
                    class="aligncenter size-full wp-image-514"
                    src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-2-2-24.jpg"
                    alt="14-KUENG-PHO-01-2-2-24"
                    width="90"
                    height="126"
                    srcset="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-2-2-24.jpg 90w, https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-2-2-24-39x55.jpg 39w"
                    sizes="(max-width: 90px) 100vw, 90px"></td>
                <td style="text-align: center;">Assoc. Prof.&nbsp;Pradondet&nbsp;&nbsp;NILAGUPTA</td>
                <td style="text-align: center;">1999&nbsp;– 2002</td>
            </tr>
            <tr>
                <td><img
                    class="aligncenter size-full wp-image-530"
                    src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-18-18-6.jpg"
                    alt="14-KUENG-PHO-01-18-18-6"
                    width="90"
                    height="126"
                    srcset="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-18-18-6.jpg 90w, https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-18-18-6-39x55.jpg 39w"
                    sizes="(max-width: 90px) 100vw, 90px"></td>
                <td style="text-align: center;">Asst. Prof. Somnuk&nbsp;&nbsp;KERETHO</td>
                <td style="text-align: center;">1996&nbsp;–&nbsp;1999</td>
            </tr>
            <tr>
                <td><img
                    class="aligncenter size-full wp-image-526"
                    src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-14-14-13.jpg"
                    alt="14-KUENG-PHO-01-14-14-13"
                    width="90"
                    height="126"
                    srcset="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-14-14-13.jpg 90w, https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-14-14-13-39x55.jpg 39w"
                    sizes="(max-width: 90px) 100vw, 90px"></td>
                <td style="text-align: center;">&nbsp;Assoc. Prof.&nbsp;Chaiyong WONGCHAISUWAT</td>
                <td style="text-align: center;">1992&nbsp;–&nbsp;1999</td>
            </tr>
            <tr>
                <td><img
                    class="aligncenter wp-image-2464"
                    src="https://www.cpe.ku.ac.th/wp-content/uploads/2015/06/รูปนนทวัฒน์สูท.jpg"
                    alt=""
                    width="90"
                    height="126"
                    srcset="https://www.cpe.ku.ac.th/wp-content/uploads/2015/06/รูปนนทวัฒน์สูท.jpg 180w, https://www.cpe.ku.ac.th/wp-content/uploads/2015/06/รูปนนทวัฒน์สูท-39x55.jpg 39w"
                    sizes="(max-width: 90px) 100vw, 90px"></td>
                <td style="text-align: center;">Nontawat JUNJAREON</td>
                <td style="text-align: center;">1989&nbsp; –&nbsp;1992</td>
            </tr>
        </tbody>
    </table>

    <div class="cleaner">&nbsp;</div>

</div>
