<h1 class="post-title">Faculty Members</h1>
<table style="height: 52px;" border="0" width="100%" cellspacing="0" cellpadding="0">
	<tbody>
		<tr>
			<td>
				<p style="text-align: center;">
					<a href="https://www.cpe.ku.ac.th/?page_id=1907"><img class="aligncenter wp-image-531 size-full" src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-19-19-21.jpg"
						 alt="kitsana" width="90" height="126" srcset="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-19-19-21.jpg 90w, https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-19-19-21-39x55.jpg 39w"
						 sizes="(max-width: 90px) 100vw, 90px" /><br>Kitsana WAIYAMAI</a>
				</p>
			</td>
			<td>
				<p style="text-align: center;">
					<a href="https://www.cpe.ku.ac.th/?page_id=2013"><img class="aligncenter wp-image-519 size-full" src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-7-7-15.jpg"
						 alt="kemathat" width="90" height="126" srcset="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-7-7-15.jpg 90w, https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-7-7-15-39x55.jpg 39w"
						 sizes="(max-width: 90px) 100vw, 90px" /><br>Kemathat VIBHATAVANIJ</a>
				</p>
			</td>
			<td style="text-align: center;">
				<a href="https://www.cpe.ku.ac.th/?page_id=1919"><img class="aligncenter wp-image-549 size-full" src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-37-37-49.jpg"
					 alt="charay" width="90" height="126" srcset="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-37-37-49.jpg 90w, https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-37-37-49-39x55.jpg 39w"
					 sizes="(max-width: 90px) 100vw, 90px" /><br>Charay&nbsp;&nbsp;LERDSUDWICHAI</a>
			</td>
			<td style="text-align: center;">
				<a href="https://www.cpe.ku.ac.th/?page_id=1911"><img class="aligncenter wp-image-522 size-full" src="https://www.cpe.ku.ac.th/wp-content/uploads/2015/02/14-KUENG-PHO-01-10-10-38.jpg"
					 alt="Chantana" width="90" height="126"><br>Chantana CHANTRAPORNCHAI&nbsp;</a>
			</td>
		</tr>
		<tr>
			<td style="text-align: center;">&nbsp;
				<a href="https://www.cpe.ku.ac.th/?page_id=1915"><img class="aligncenter wp-image-541 size-full" src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-29-29-13.jpg"
					 alt="Jitti NIRAMITRANON" width="90" height="126" srcset="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-29-29-13.jpg 90w, https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-29-29-13-39x55.jpg 39w"
					 sizes="(max-width: 90px) 100vw, 90px" /><br>Jitti NIRAMITRANON</a>
			</td>
			<td style="text-align: center;">&nbsp;
				<a href="https://www.cpe.ku.ac.th/?page_id=1917"><img class="aligncenter wp-image-556 size-full" src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-44-44-40.jpg"
					 alt="Jittat FAKCHAROENPHOL" width="90" height="126" srcset="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-44-44-40.jpg 90w, https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-44-44-40-39x55.jpg 39w"
					 sizes="(max-width: 90px) 100vw, 90px" /><br>Jittat FAKCHAROENPHOL</a>
			</td>
			<td style="text-align: center;">&nbsp;
				<a href="https://www.cpe.ku.ac.th/?page_id=2017"><img class="aligncenter wp-image-521 size-full" src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-9-9-21.jpg"
					 alt="Chalermsak CHATDIKMAIPRAI" width="90" height="126" srcset="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-9-9-21.jpg 90w, https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-9-9-21-39x55.jpg 39w"
					 sizes="(max-width: 90px) 100vw, 90px" /><br>Chalermsak CHATDIKMAIPRAI</a>
			</td>
			<td style="text-align: center;">&nbsp;
				<a href="https://www.cpe.ku.ac.th/?page_id=1928"><img class="aligncenter wp-image-552 size-full" src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-40-40-26.jpg"
					 alt="Chaiporn JAIKAEO" width="90" height="126" srcset="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-40-40-26.jpg 90w, https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-40-40-26-39x55.jpg 39w"
					 sizes="(max-width: 90px) 100vw, 90px" /><br>Chaiporn JAIKAEO</a>
			</td>
		</tr>
		<tr>
			<td style="text-align: center;">
				<a href="https://www.cpe.ku.ac.th/?page_id=1932"><br />
					<img class="aligncenter wp-image-554 size-full" src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-42-42-38.jpg"
					 alt="Thanawin RAKTHANMANON" width="90" height="126" srcset="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-42-42-38.jpg 90w, https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-42-42-38-39x55.jpg 39w"
					 sizes="(max-width: 90px) 100vw, 90px" /><br>Thanawin RAKTHANMANON</a>
			</td>
			<td style="text-align: center;">
				<a href="https://www.cpe.ku.ac.th/?page_id=1937"><br />
					<img class="aligncenter wp-image-517 size-full" src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-5-5-5.jpg"
					 alt="Bundit MANASKASEMSAK" width="90" height="126" srcset="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-5-5-5.jpg 90w, https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-5-5-5-39x55.jpg 39w"
					 sizes="(max-width: 90px) 100vw, 90px" /><br>Bundit MANASKASEMSAK</a>
			</td>
			<td style="text-align: center;">
				<a href="https://www.cpe.ku.ac.th/?page_id=1939"><br />
					<img class="aligncenter wp-image-514 size-full" src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-2-2-24.jpg"
					 alt="Pradondet&nbsp;&nbsp;NILAGUPTA" width="90" height="126" srcset="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-2-2-24.jpg 90w, https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-2-2-24-39x55.jpg 39w"
					 sizes="(max-width: 90px) 100vw, 90px" /><br>Pradondet&nbsp;&nbsp;NILAGUPTA</a>
			</td>
			<td style="text-align: center;">
				<a href="https://www.cpe.ku.ac.th/?page_id=1943"><br />
					<img class="aligncenter wp-image-553 size-full" src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-41-41-33.jpg"
					 alt="Preeda LERTPONGWIPOOSANA" width="90" height="126" srcset="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-41-41-33.jpg 90w, https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-41-41-33-39x55.jpg 39w"
					 sizes="(max-width: 90px) 100vw, 90px" /><br>Preeda LERTPONGWIPOOSANA</a>
			</td>
		</tr>
		<tr>
			<td style="text-align: center;">
				<a href="https://www.cpe.ku.ac.th/?page_id=1947"><br />
					<img class="aligncenter wp-image-532 size-full" src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-20-20-20.jpg"
					 alt="Punpiti PIAMSA-NGA" width="90" height="126" srcset="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-20-20-20.jpg 90w, https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-20-20-20-39x55.jpg 39w"
					 sizes="(max-width: 90px) 100vw, 90px" /><br>Punpiti PIAMSA-NGA</a>
			</td>
			<td style="text-align: center;">
				<a href="https://www.cpe.ku.ac.th/?page_id=1951"><br />
					<img class="aligncenter wp-image-557 size-full" src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-45-45-25.jpg"
					 alt="Pirawat WATANAPONGSE" width="90" height="126" srcset="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-45-45-25.jpg 90w, https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-45-45-25-39x55.jpg 39w"
					 sizes="(max-width: 90px) 100vw, 90px" /><br>Pirawat WATANAPONGSE</a>
			</td>
			<td style="text-align: center;">
				<a href="https://www.cpe.ku.ac.th/?page_id=1955"><br />
					<img class="aligncenter wp-image-542 size-full" src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-30-30-5.jpg"
					 alt="Pattara&nbsp;&nbsp;LEELAPRUTE" width="90" height="126" srcset="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-30-30-5.jpg 90w, https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-30-30-5-39x55.jpg 39w"
					 sizes="(max-width: 90px) 100vw, 90px" /><br>Pattara&nbsp;&nbsp;LEELAPRUTE</a>
			</td>
			<td style="text-align: center;">
				<a href="https://www.cpe.ku.ac.th/?page_id=1959"><br />
					<img class="aligncenter wp-image-520 size-full" src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-8-8-30.jpg"
					 alt="Putchong&nbsp;&nbsp;UTHAYOPAS" width="90" height="126" srcset="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-8-8-30.jpg 90w, https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-8-8-30-39x55.jpg 39w"
					 sizes="(max-width: 90px) 100vw, 90px" /><br>Putchong&nbsp;&nbsp;UTHAYOPAS</a>
			</td>
		</tr>
		<tr>
			<td style="text-align: center;">
				<a href="https://www.cpe.ku.ac.th/?page_id=1961"><br />
					<img class="aligncenter wp-image-539 size-full" src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-27-27-34.jpg"
					 alt="Monchai&nbsp;&nbsp;SOPITKAMOL" width="90" height="126" srcset="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-27-27-34.jpg 90w, https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-27-27-34-39x55.jpg 39w"
					 sizes="(max-width: 90px) 100vw, 90px" /><br>Monchai&nbsp;&nbsp;SOPITKAMOL</a>
			</td>
			<td style="text-align: center;">
				<a href="https://www.cpe.ku.ac.th/?page_id=1963"><br />
					<img class="aligncenter wp-image-529 size-full" src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-17-17-3.jpg"
					 alt="Yodyium&nbsp;&nbsp;TIPSUWAN" width="90" height="126" srcset="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-17-17-3.jpg 90w, https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-17-17-3-39x55.jpg 39w"
					 sizes="(max-width: 90px) 100vw, 90px" /><br>Yodyium&nbsp;&nbsp;TIPSUWAN</a>
			</td>
			<td style="text-align: center;">
				<a href="https://www.cpe.ku.ac.th/?page_id=1972"><br />
					<img class="aligncenter wp-image-529 size-full" src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/DSCF1821.jpg" alt="Siriporn&nbsp;&nbsp;ONGROONGRUANG"
					 width="90" height="126"><br>Siriporn&nbsp;&nbsp;ONGROONGRUANG</a>
			</td>
			<td style="text-align: center;">
				<a title="สมชาย นำประเสริฐชัย" href="https://www.cpe.ku.ac.th/?page_id=1974"><br />
					<img class="aligncenter wp-image-535 size-full" src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-23-23-32.jpg"
					 alt="Somchai&nbsp;&nbsp;NUMPRASERTCHAI" width="90" height="126" srcset="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-23-23-32.jpg 90w, https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-23-23-32-39x55.jpg 39w"
					 sizes="(max-width: 90px) 100vw, 90px" /><br>Somchai&nbsp;&nbsp;NUMPRASERTCHAI</a>
			</td>
		</tr>
		<tr>
			<td style="text-align: center;">
				<a title="สมนึก คีรีโต" href="https://www.cpe.ku.ac.th/?page_id=1976"><br />
					<img class="aligncenter wp-image-530 size-full" src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-18-18-6.jpg"
					 alt="Somnuk&nbsp;&nbsp;KERETHO" width="90" height="126" srcset="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-18-18-6.jpg 90w, https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-18-18-6-39x55.jpg 39w"
					 sizes="(max-width: 90px) 100vw, 90px" /><br>Somnuk&nbsp;&nbsp;KERETHO</a>
			</td>
			<td style="text-align: center;">
				<a title="สิทธิชัย ศรีอ่อน" href="https://www.cpe.ku.ac.th/?page_id=1982"><br />
					<img class="aligncenter wp-image-525 size-full" src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-13-13-18.jpg"
					 alt="Sitichai SRIOON" width="90" height="126" srcset="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-13-13-18.jpg 90w, https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-13-13-18-39x55.jpg 39w"
					 sizes="(max-width: 90px) 100vw, 90px" /><br>Sitichai SRIOON</a>
			</td>
			<td style="text-align: center;">
				<a title="สุภาพร เอื้อจงมานี" href="https://www.cpe.ku.ac.th/?page_id=1988"><br />
					<img class="aligncenter wp-image-551 size-full" src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-39-39-25.jpg"
					 alt="Supaporn ERJONGMANEE" width="90" height="126" srcset="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-39-39-25.jpg 90w, https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-39-39-25-39x55.jpg 39w"
					 sizes="(max-width: 90px) 100vw, 90px" /><br>Supaporn ERJONGMANEE</a>
			</td>
			<td style="text-align: center;">
				<a title="สุรศักดิ์ สงวนพงษ์" href="https://www.cpe.ku.ac.th/?page_id=1990"><br />
					<img class="aligncenter wp-image-523 size-full" src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-11-11-28.jpg"
					 alt="Surasak&nbsp;&nbsp;SANGUANPONG" width="90" height="126" srcset="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-11-11-28.jpg 90w, https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-11-11-28-39x55.jpg 39w"
					 sizes="(max-width: 90px) 100vw, 90px" /><br>Surasak&nbsp;&nbsp;SANGUANPONG</a>
			</td>
		</tr>
		<tr>
			<td style="text-align: center;">
				<a title="หัชทัย ชาญเลขา" href="https://www.cpe.ku.ac.th/?page_id=1994"><br />
					<img class="aligncenter wp-image-527 size-full" src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-15-15-17.jpg"
					 alt="Hutchatai CHANLEKHA" width="90" height="126" srcset="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-15-15-17.jpg 90w, https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-15-15-17-39x55.jpg 39w"
					 sizes="(max-width: 90px) 100vw, 90px" /><br>Hutchatai CHANLEKHA</a>
			</td>
			<td style="text-align: center;">
				<a title="อนันต์ ผลเพิ่ม" href="https://www.cpe.ku.ac.th/?page_id=1996"><br />
					<img class="aligncenter wp-image-533 size-full" src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-21-21-26.jpg"
					 alt="Anan&nbsp;PHONPHOEM" width="90" height="126" srcset="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-21-21-26.jpg 90w, https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-21-21-26-39x55.jpg 39w"
					 sizes="(max-width: 90px) 100vw, 90px" /><br>Anan&nbsp;PHONPHOEM</a>
			</td>
			<td style="text-align: center;">
				<a title="อภิรักษ์ จันทร์สร้าง" href="https://www.cpe.ku.ac.th/?page_id=1998"><br />
					<img class="aligncenter wp-image-534 size-full" src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-22-22-26.jpg"
					 alt="Aphirak JANSANG" width="90" height="126" srcset="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-22-22-26.jpg 90w, https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-22-22-26-39x55.jpg 39w"
					 sizes="(max-width: 90px) 100vw, 90px" /><br>Aphirak JANSANG</a>
			</td>
			<td style="text-align: center;">
				<a title="อัครพงศ์ พัชรรุ่งเรือง" href="https://www.cpe.ku.ac.th/?page_id=2003"><br />
					<img class="aligncenter wp-image-524 size-full" src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-12-12-23.jpg"
					 alt="Akrapong&nbsp;&nbsp;PATCHARARUNGRUANG" width="90" height="126" srcset="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-12-12-23.jpg 90w, https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-12-12-23-39x55.jpg 39w"
					 sizes="(max-width: 90px) 100vw, 90px" /><br>Akrapong&nbsp;&nbsp;PATCHARARUNGRUANG</a>
			</td>
		</tr>
		<tr>
			<td style="text-align: center;">
				<a title="อัศนีย์ ก่อตระกูล" href="https://www.cpe.ku.ac.th/?page_id=2007"><img class="aligncenter wp-image-518 size-full" src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-6-6-19.jpg"
					 alt="Asanee&nbsp;&nbsp;KAWTRAKUL" width="90" height="126" srcset="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-6-6-19.jpg 90w, https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-6-6-19-39x55.jpg 39w"
					 sizes="(max-width: 90px) 100vw, 90px" /><br>Asanee&nbsp;&nbsp;KAWTRAKUL</a>
			</td>
			<td style="text-align: center;">
				<a title="อานนท์ รุ่งสว่าง" href="https://www.cpe.ku.ac.th/?page_id=2009"><img class="aligncenter wp-image-516 size-full" src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-4-4-6.jpg"
					 alt="Arnon&nbsp;&nbsp;RUNGSAWANG" width="90" height="126" srcset="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-4-4-6.jpg 90w, https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-4-4-6-39x55.jpg 39w"
					 sizes="(max-width: 90px) 100vw, 90px" /><br>Arnon&nbsp;&nbsp;RUNGSAWANG</a>
			</td>
			<td style="text-align: center;">
				<a href="https://www.cpe.ku.ac.th/?page_id=2011"><img class="alignnone" src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/09/FullSizeRendear-1.jpg" width="90" height="126"></a><br
				/>
				<a href="https://www.cpe.ku.ac.th/?page_id=2011"><br>Intiraporn&nbsp;&nbsp;MULASATRA</a>
			</td>
			<td style="text-align: center;">
				<a href="https://www.cpe.ku.ac.th/?page_id=1957"><img class="aligncenter wp-image-2379 size-full" src="https://www.cpe.ku.ac.th/wp-content/uploads/2015/06/DSCF2486re.jpg"
					 alt="Paruj" width="90" height="126" srcset="https://www.cpe.ku.ac.th/wp-content/uploads/2015/06/DSCF2486re.jpg 180w, https://www.cpe.ku.ac.th/wp-content/uploads/2015/06/DSCF2486re-39x55.jpg 39w"
					 sizes="(max-width: 90px) 100vw, 90px" /></a>
				<a href="https://www.cpe.ku.ac.th/?page_id=1957"><br>Paruj&nbsp;&nbsp;RATANAWORABHAN</a>
			</td>
		</tr>
		<tr>
			<td style="text-align: center;">
				<a href="https://www.cpe.ku.ac.th/?page_id=1905"><br />
					<img class="aligncenter wp-image-3848 size-full" src="https://www.cpe.ku.ac.th/wp-content/uploads/2015/06/james_brucker-180x252.png"
					 width="90" height="126" srcset="https://www.cpe.ku.ac.th/wp-content/uploads/2015/06/james_brucker-180x252.png 180w, https://www.cpe.ku.ac.th/wp-content/uploads/2015/06/james_brucker-180x252-45x55.png 45w"
					 sizes="(max-width: 90px) 100vw, 90px" /><br>James Edward Brucker</a>
			</td>
			<td style="text-align: center;">
				<a href="https://www.cpe.ku.ac.th/?page_id=1945"><br />
					<img class="aligncenter wp-image-3932 size-full" src="https://www.cpe.ku.ac.th/wp-content/uploads/2015/06/piyamet.png" width="90"
					 height="126" srcset="https://www.cpe.ku.ac.th/wp-content/uploads/2015/06/piyamet.png 180w, https://www.cpe.ku.ac.th/wp-content/uploads/2015/06/piyamet-45x55.png 45w"
					 sizes="(max-width: 90px) 100vw, 90px" /><br>Piyamate WISANUVEJ</a>
			</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
	</tbody>
</table>