<h1 class="post-title">Overview</h1>
    <p>ภาควิชาวิศวกรรมคอมพิวเตอร์ทำการพัฒนาและค้นคว้าวิจัยทางด้านเทคโนโลยีคอมพิวเตอร์ ทั้งด้านฮาร์ดแวร์และซอฟต์แวร์ในสาขาต่าง
        ๆ เช่น สถาปัตยกรรมคอมพิวเตอร์ เครือข่ายคอมพิวเตอร์และการสื่อสารข้อมูล การประยุกต์ใช้งานไมโครโปรเซสเซอร์ การโปรแกรมระบบ
        ปัญญาประดิษฐ์ วิศวกรรมซอฟต์แวร์ การพัฒนาระบบงานคอมพิวเตอร์ ระบบการจัดการฐานข้อมูล และเทคโนโลยีสารสนเทศเพื่อการจัดการ</p>
    <ul>
        <li>ผลงานวิจัยและพัฒนาเด่น</li>
        <li>ผลงานดีเด่นของนิสิต</li>
        <li>รายชื่อห้องปฏิบัติการ</li>
    </ul>