<div class="post-cover post-cover-full single-cover"><img src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/09/DSCF3496-1-960x350.jpg" alt="Research Areas and Labs" class="Thumbnail thumbnail thumb-full " width="960" height="350"></div>
<div class="column column-wide column-last">

    <div class="widget">
        <h1 class="post-title">Research Areas and Labs</h1>

        <div class="divider">&nbsp;</div>

        <div class="post-content">
            <p>
                <span style="color: #0000ff;">
                    <b class="">Cluster #1</b>: Digital and Embedded Systems</span>
            </p>
            <ul class="">
                <ul class="">
                    <li>
                        <a href="https://www.cpe.ku.ac.th/?page_id=2816">
                            <span style="line-height: 1.5;">Advance Digital Application (ADA)</span>
                        </a>
                    </li>
                    <li>
                        <span style="line-height: 1.5;">
                            <a href="https://www.cpe.ku.ac.th/?page_id=2851">Robotics and Intelligent Mechatronics Lab (RIML)</a>
                        </span>
                    </li>
                </ul>
        </ul>
        <div class=""></div>
        <div class="">
            <span style="color: #0000ff;">
                <b class="">Cluster #2</b>: Computer Networks and Systems</span>
        </div>
        <ul class="">
            <ul class="">
                <li>
                    <a href="https://www.cpe.ku.ac.th/?page_id=2756">
                        <span style="line-height: 1.5;">Intelligent Wireless Network&nbsp;Group (IWING)</span>
                    </a>
                </li>
                <li>
                    <span style="line-height: 1.5;">
                        <a href="https://www.cpe.ku.ac.th/?page_id=2810">Applied Network Research Lab (ANRES)</a>
                    </span>
                </li>
                <li>
                    <span style="line-height: 1.5;">
                        <a href="https://www.cpe.ku.ac.th/?page_id=2825">
                            High Performance Computing and Networking Center (HPCNC)</a>
                    </span>
                </li>
                <li>
                    <a href="https://www.cpe.ku.ac.th/?page_id=2736">Performance and Reliability Lab (PERF)</a>
                </li>
            </ul>
    </ul>
    <div class=""></div>
    <div class="">
        <span style="color: #0000ff;">
            <b class="">Cluster #3</b>: Info. Engineering and Intelligent Systems</span>
    </div>
    <ul class="">
        <ul class="">
            <li>
                <a href="https://www.cpe.ku.ac.th/?page_id=2800">
                    <span style="line-height: 1.5;">Data Analysis and Knowledge Discovery Laboratory (DAKDL)</span>
                </a>
            </li>
            <li>
                <span style="line-height: 1.5;">
                    <a href="https://www.cpe.ku.ac.th/?page_id=2786">Massive Information and Knowledge Engineering Laboratory (MIKE)</a>
                </span>
            </li>
            <li>
                <a href="https://www.cpe.ku.ac.th/?page_id=2749">Specialty&nbsp;Research Unit in Natural Language Processing and Intelligent&nbsp;Information System Technology (NAIST)</a>
            </li>
            <li>
                <a href="https://www.cpe.ku.ac.th/?page_id=2794">
                    <span style="line-height: 1.5;">Smart Home Network System and Service Interaction Laboratory (SHNS)</span>
                </a>
            </li>
        </ul>
</ul>
<div class=""></div>
<div class="">
    <span style="color: #0000ff;">
        <b class="">Cluster #4</b>: Software and Database Technology</span>
</div>
<ul class="">
    <ul class="">
        <li>
            <a href="https://www.cpe.ku.ac.th/?page_id=2771">
                <span style="line-height: 1.5;">Software Engineering and Architecture Laboratory (SEAL)</span>
            </a>
        </li>
        <li>
            <span style="line-height: 1.5;">
                <a href="https://www.cpe.ku.ac.th/?page_id=2780">Database and Software Technology Research Laboratory (DSTRL)</a>&nbsp;&nbsp;</span>
        </li>
        <li>
            <a href="https://www.cpe.ku.ac.th/?page_id=2729">Innovation and Knowledge Management (IKM)</a>
        </li>
    </ul>
</ul>
<div class=""></div>
<div class="">
<span style="color: #0000ff;">
    <b class="">Cluster #5</b>: Graphics and Multimedia</span>
</div>
<ul class="">
<ul class="">
    <li class="">
        <a href="https://www.cpe.ku.ac.th/?page_id=2903&amp;lang=en">Multimedia Analysis and Discovery Laboratory ( MAD )</a>
    </li>
</ul>
</ul>
<div class=""></div>
<div class="">
<b class="">Cluster #6</b>: Computer Theory</div>
<ul class="">
<ul class="">
<li>
    <span style="line-height: 1.5;">
        <a href="https://www.cpe.ku.ac.th/?page_id=2843">Theory Research Lab (theory)</a>
    </span>
</li>
</ul>
</ul>

<div class="cleaner">&nbsp;</div>

</div>
<!-- end .post-content -->

<div class="divider">&nbsp;</div>
<div class="wrapper-special">
<span class="share_btn">
<a href="http://twitter.com/share" data-url="https://www.cpe.ku.ac.th/?page_id=1802" class="twitter-share-button" data-count="horizontal">Tweet</a>
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
</span>
<span class="share_btn">
<iframe
src="http://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.cpe.ku.ac.th%2F%3Fpage_id%3D1802&amp;layout=button_count&amp;show_faces=false&amp;width=80&amp;action=like&amp;font=arial&amp;colorscheme=light&amp;height=21"
scrolling="no"
frameborder="0"
style="border:none; overflow:hidden; width:80px; height:21px;"
allowtransparency="true"></iframe>
</span>
<span class="share_btn">
<div
id="___plusone_0"
style="text-indent: 0px; margin: 0px; padding: 0px; background-color: transparent; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; display: inline-block; width: 90px; height: 20px; background-position: initial initial; background-repeat: initial initial;">
<iframe
ng-non-bindable=""
frameborder="0"
hspace="0"
marginheight="0"
marginwidth="0"
scrolling="no"
style="position: static; top: 0px; width: 90px; margin: 0px; border-style: none; left: 0px; visibility: visible; height: 20px;"
tabindex="0"
vspace="0"
width="100%"
id="I0_1495700602314"
name="I0_1495700602314"
src="https://apis.google.com/u/0/se/0/_/+1/fastbutton?usegapi=1&amp;size=medium&amp;origin=https%3A%2F%2Fwww.cpe.ku.ac.th&amp;url=https%3A%2F%2Fwww.cpe.ku.ac.th%2F%3Fpage_id%3D1802&amp;gsrc=3p&amp;ic=1&amp;jsh=m%3B%2F_%2Fscs%2Fapps-static%2F_%2Fjs%2Fk%3Doz.gapi.th.466YthF1aDM.O%2Fm%3D__features__%2Fam%3DAQ%2Frt%3Dj%2Fd%3D1%2Frs%3DAGLTcCNaNj1ljB9yT90pvCWgtJ16jGdq4g#_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe%2C_renderstart%2Concircled%2Cdrefresh%2Cerefresh&amp;id=I0_1495700602314&amp;parent=https%3A%2F%2Fwww.cpe.ku.ac.th&amp;pfname=&amp;rpctoken=25146481"
data-gapiattached="true"
title="+1"></iframe>
</div>
</span>
<p class="title">Share This Page</p>
</div>
<!-- end .wrapper-special -->

<div class="cleaner">&nbsp;</div>
</div>
<!-- end .widget -->

<div class="cleaner">&nbsp;</div>

</div>
