<div class="widget">
	<h1 class="post-title">ค่าเทอมและทุนการศึกษา</h1>
									
					<div class="divider">&nbsp;</div>
					
					<div class="post-content">
						<p>การศึกษาเป็นการลงทุนอย่างหนึ่ง ผู้ที่สนใจเข้าศึกษาต่อและนิสิตปัจจุบันนอกจากจะต้องลงทุนทั้งทางด้านเวลาในการเข้ามาศึกษาหาความรู้เพิ่มเติมกับทางเราแล้วนั้น นิสิตในสังกัดภาควิชาวิศวกรรมคอมพิวเตอร์จะต้องจ่ายค่าลงทะเบียนและค่าธรรมเนียมอื่นๆตามที่มหาวิทยาลัยกำหนด</p>
<p>สำหรับผู้ที่สนใจเข้าศึกษาต่อและนิสิตปัจจุบันที่มีผลการเรียนดีเป็นพิเศษ และ/หรือ มีความขาดแคลนทางด้านทุนทรัพย์ ทางหน่วยงานต่างๆตั้งแต่ระดับมหาวิทยาลัย คณะวิศวกรรมศาสตร์ และภาควิชาวิศวกรรมคอมพิวเตอร์มีทุนการศึกษาเพื่อรองรับด้วยเช่นกัน</p>
<ul>
<li><a href="http://www.regweb.registrar.ku.ac.th/calendar/index/138?a_id=218" target="_blank">ค่าลงทะเบียนและค่าธรรมเนียม</a></li>
<li>ทุนการศึกษา</li>
</ul>
<p>อัพเดทล่าสุด: 24/02/2015</p>
<p>หมายเหตุ: ข้อมูลที่หน้านี้เป็นข้อมูลเพื่อใช้ในการอ้างอิงทั่วไปสำหรับผู้ที่สนใจเข้าศึกษาต่อและนิสิตปัจจุบันเท่านั้น อัตราค่าลงทะเบียนและค่าธรรมเนียมมีการเปลี่ยนแปลงจากทางมหาวิทยาลัยทุกปี ดังนั้นผู้สนใจโปรดตรวสอบข้อมูลกับทางมหาวิทยาลัยเพื่อความแน่นอนอีกครั้ง</p>
						
						<div class="cleaner">&nbsp;</div>
						
												
					</div><!-- end .post-content -->
</div>