<h1>Bachelor of Engineering in Software and Knowledge</h1>
<h2>โครงสร้างหลักสูตรปริญญาตรีวิศวกรรมซอฟต์แวร์และความรู้</h2>
<h3>ชื่อหลักสูตร</h3>
<ul>
  <li><strong>ภาษาไทย</strong> วิศวกรรมศาสตรบัณฑิต สาขาวิชาวิศวกรรมซอฟต์แวร์และความรู้ (หลักสูตรนานาชาติ)</li>
  <li><strong>ภาษาอังกฤษ</strong> Bachelor of Engineering Program in Software and Knowledge Engineering (International Program)</li>
</ul>
<h3>ชื่อปริญญา</h3>
<ul>
  <li>ชื่อเต็ม : วิศวกรรมศาสตรบัณฑิต (วิศวกรรมซอฟต์แวร์และความรู้)</li>
  <li>ชื่อย่อ : วศ.บ. (วิศวกรรมซอฟต์แวร์และความรู้)</li>
  <li>ชื่อเต็ม : Bachelor of Engineering (Software and Knowledge Engineering)</li>
  <li>ชื่อย่อ : B.Eng. (Software and Knowledge Engineering)</li>
</ul>
<h3>หลักสูตร</h3>
<p><strong>จำนวนหน่วยกิตรวมตลอดหลักสูตร ไม่น้อยกว่า 136 หน่วยกิต</strong></p>
<h4>โครงสร้างของหลักสูตร</h4>
<ol>
  <li>หมวดวิชาศึกษาทั่วไป ไม่น้อยกว่า 30 หน่วยกิต
    <ul>
      <li>กลุ่มวิชาวิทยาศาสตร์และคณิตศาสตร์ 10 หน่วยกิต</li>
      <li>กลุ่มวิชาภาษา 12 หน่วยกิต</li>
      <li>กลุ่มวิชาสังคมศาสตร์ 3 หน่วยกิต</li>
      <li>กลุ่มวิชามนุษยศาสตร์ 3 หน่วยกิต</li>
      <li>กลุ่มวิชาพลศึกษา 2 หน่วยกิต</li>
    </ul>
  </li>
  <li>หมวดวิชาเฉพาะ ไม่น้อยกว่า 100 หน่วยกิต
    <ul>
      <li>วิชาเฉพาะบังคับ 88 หน่วยกิต</li>
      <li>วิชาเฉพาะเลือกไม่น้อยกว่า 12 หน่วยกิต</li>
    </ul>
  </li>
  <li>หมวดวิชาเลือกเสรี ไม่น้อยกว่า 6 หน่วยกิต</li>
</ol>