<table style="height: 52px;" width="100%">
    <tbody>
        <tr>
            <td style="text-align: center;"></td>
            <td style="text-align: center;" colspan="2">
                <h3><strong>CPE STAFF</strong></h3>
            </td>
            <td style="text-align: center;"></td>
        </tr>
        <tr>
            <td style="text-align: center;"> <a title="อรนุช บุตรศรีคุ้ย" href="https://www.cpe.ku.ac.th/?page_id=1127"><img class="aligncenter wp-image-543 size-full" src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-31-31-6.jpg" alt="" width="90" height="126" srcset="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-31-31-6.jpg 90w, https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-31-31-6-39x55.jpg 39w" sizes="(max-width: 90px) 100vw, 90px" /></a></td>
            <td style="text-align: center;"> <a title="ศรีวรรณ ไวยมาลา" href="https://www.cpe.ku.ac.th/?page_id=1133"><img class="aligncenter wp-image-528 size-full" src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-16-16-8.jpg" alt="" width="90" height="126" srcset="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-16-16-8.jpg 90w, https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-16-16-8-39x55.jpg 39w" sizes="(max-width: 90px) 100vw, 90px" /></a></td>
            <td style="text-align: center;"> <a title="ลักษณา อุณหรัตน์" href="https://www.cpe.ku.ac.th/?page_id=1138"><img class="aligncenter wp-image-536 size-full" src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-24-24-18.jpg" alt="" width="90" height="126" srcset="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-24-24-18.jpg 90w, https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-24-24-18-39x55.jpg 39w" sizes="(max-width: 90px) 100vw, 90px" /></a></td>
            <td style="text-align: center;"> <a title="ภัคจิรา หิรัญจารุกร" href="https://www.cpe.ku.ac.th/?page_id=1140"><img class="aligncenter wp-image-545 size-full" src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-33-33-13.jpg" alt="" width="90" height="126" srcset="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-33-33-13.jpg 90w, https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-33-33-13-39x55.jpg 39w" sizes="(max-width: 90px) 100vw, 90px" /></a></td>
        </tr>
        <tr>
            <td style="text-align: center;">Oranuch BUTSRICUY</td>
            <td style="text-align: center;">Sriwan WAIMALA</td>
            <td style="text-align: center;">Laksana UNHARAT</td>
            <td style="text-align: center;">Pakjira HIRANJARUKORN</td>
        </tr>
        <tr>
            <td style="text-align: center;"><a title="อัญชิสา ศรีสะอาด" href="https://www.cpe.ku.ac.th/?page_id=1144"><img class="aligncenter wp-image-547 size-full" src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-35-35-18.jpg" alt="" width="90" height="126" srcset="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-35-35-18.jpg 90w, https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-35-35-18-39x55.jpg 39w" sizes="(max-width: 90px) 100vw, 90px" /></a></td>
            <td style="text-align: center;"><a title="สุนันท์ ไหมเลื้อย" href="https://www.cpe.ku.ac.th/?page_id=1148"><img class="aligncenter wp-image-515 size-full" src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-3-3-9.jpg" alt="" width="90" height="126" srcset="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-3-3-9.jpg 90w, https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-3-3-9-39x55.jpg 39w" sizes="(max-width: 90px) 100vw, 90px" /></a></td>
            <td style="text-align: center;"><a title="นิสิต พรหมมา" href="https://www.cpe.ku.ac.th/?page_id=1146"><img class="aligncenter wp-image-513 size-full" src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-1-1-7.jpg" alt="" width="90" height="126" srcset="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-1-1-7.jpg 90w, https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-1-1-7-39x55.jpg 39w" sizes="(max-width: 90px) 100vw, 90px" /></a></td>
            <td style="text-align: center;"><a title="ฉันทนา สว่างเถื่อน" href="https://www.cpe.ku.ac.th/?page_id=1152"><img class="aligncenter wp-image-540 size-full" src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-28-28-17.jpg" alt="" width="90" height="126" srcset="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-28-28-17.jpg 90w, https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-28-28-17-39x55.jpg 39w" sizes="(max-width: 90px) 100vw, 90px" /></a></td>
        </tr>
        <tr>
            <td style="text-align: center;">Anchisa SRISAAD</td>
            <td style="text-align: center;">Sunan MAILOEY</td>
            <td style="text-align: center;">Nisit PROMA</td>
            <td style="text-align: center;">Chanthana SAWANGTUAN</td>
        </tr>
        <tr>
            <td style="text-align: center;"><a title="สมพิศ สุขมี" href="https://www.cpe.ku.ac.th/?page_id=1154"><img class="aligncenter wp-image-544 size-full" src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-32-32-12.jpg" alt="" width="90" height="126" srcset="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-32-32-12.jpg 90w, https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-32-32-12-39x55.jpg 39w" sizes="(max-width: 90px) 100vw, 90px" /></a></td>
            <td style="text-align: center;"></td>
            <td style="text-align: center;"></td>
            <td style="text-align: center;"></td>
        </tr>
        <tr>
            <td style="text-align: center;">Sompis Sukmee</td>
            <td style="text-align: center;"></td>
            <td style="text-align: center;"></td>
            <td style="text-align: center;"></td>
        </tr>
        <tr>
            <td style="text-align: center;"></td>
            <td style="text-align: center;" colspan="2">
                <h3>GRAD STAFF</h3>
            </td>
            <td style="text-align: center;"></td>
        </tr>
        <tr>
            <td style="text-align: center;"><a title="จารุวรรณ กันสัตรู" href="https://www.cpe.ku.ac.th/?page_id=1168"><img class="aligncenter size-full wp-image-555" src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-43-43-18.jpg" alt="" width="90" height="126" srcset="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-43-43-18.jpg 90w, https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-43-43-18-39x55.jpg 39w" sizes="(max-width: 90px) 100vw, 90px" /></a></td>
            <td style="text-align: center;"><a title="ชัชชฎา นันโต" href="https://www.cpe.ku.ac.th/?page_id=1170"><img class="aligncenter size-full wp-image-550" src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-38-38-26.jpg" alt="14-KUENG-PHO-01-38-38-26" width="90" height="126" srcset="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-38-38-26.jpg 90w, https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-38-38-26-39x55.jpg 39w" sizes="(max-width: 90px) 100vw, 90px" /></a></td>
            <td style="text-align: center;"><a title="ประนอม ศิริมังคโล" href="https://www.cpe.ku.ac.th/?page_id=1174"><img class="aligncenter size-full wp-image-548" src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-36-36-19.jpg" alt="14-KUENG-PHO-01-36-36-19" width="90" height="126" srcset="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-36-36-19.jpg 90w, https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-36-36-19-39x55.jpg 39w" sizes="(max-width: 90px) 100vw, 90px" /></a></td>
            <td style="text-align: center;"><a title="เบญจมาศ ท้วมบำรุง" href="https://www.cpe.ku.ac.th/?page_id=1172"><img class="aligncenter size-full wp-image-537" src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-25-25-22.jpg" alt="14-KUENG-PHO-01-25-25-22" width="90" height="126" srcset="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-25-25-22.jpg 90w, https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-25-25-22-39x55.jpg 39w" sizes="(max-width: 90px) 100vw, 90px" /></a></td>
        </tr>
        <tr>
            <td style="text-align: center;">Jaruwan KUNSATRU</td>
            <td style="text-align: center;">Chatchada NUNTO</td>
            <td style="text-align: center;">Pranom SIRIMANGALO</td>
            <td style="text-align: center;">Benjamas TOUMBUMRUNG</td>
        </tr>
        <tr>
            <td style="text-align: center;"><a title="สุนันทา ช้างทอง" href="https://www.cpe.ku.ac.th/?page_id=1176"><img class="aligncenter size-full wp-image-546" src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-34-34-14.jpg" alt="14-KUENG-PHO-01-34-34-14" width="90" height="126" srcset="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-34-34-14.jpg 90w, https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-34-34-14-39x55.jpg 39w" sizes="(max-width: 90px) 100vw, 90px" /></a></td>
            <td style="text-align: center;"><a title="พิทักษ์ นาคทรงแก้ว" href="https://www.cpe.ku.ac.th/?page_id=1178"><img class="aligncenter size-full wp-image-538" src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-26-26-10.jpg" alt="14-KUENG-PHO-01-26-26-10" width="90" height="126" srcset="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-26-26-10.jpg 90w, https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-26-26-10-39x55.jpg 39w" sizes="(max-width: 90px) 100vw, 90px" /></a></td>
            <td style="text-align: center;"></td>
            <td style="text-align: center;"></td>
        </tr>
        <tr>
            <td style="text-align: center;">Sunantha CHANGTHONG</td>
            <td style="text-align: center;">Pitak NAKSONGKAEW</td>
            <td style="text-align: center;"></td>
            <td style="text-align: center;"></td>
        </tr>
    </tbody>
</table>