<footer>
<div style="background-color: #89E894; color: white; text-shadow: 2px 2px 2px black;" >
    <div class="container">
        <p class="pull-right">Copyright © 2017 Department of Computer Engineering. All Rights Reserved.</p>
    </div>
</div>

</footer>