<!--<header>-->
<!--      <a href="/" title="Faculty of Engineering Kasetsart University">-->
<!--        <img style="width:300px;height:auto;" src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/08/logo_blue2-1.jpg" alt="Department of Computer Engineering">-->
<!--      </a>-->
<!--</header>-->