<header class="header">
    <div class="container">
        <a href="/">
            <img class="img-responsive" src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/08/logo_blue2-1.jpg" alt="Department Of Computer Engineering Logo">
        </a>
    </div>
</header>
