<header class="header">

		<div class="wrapper">

			<div id="logo">


				<a href="https://www.cpe.ku.ac.th/?lang=th" title="Faculty of Engineering Kasetsart University">
											<img src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/08/logo_blue2-1.jpg" alt="Department of Computer Engineering">
									</a>



			</div><!-- end #logo -->

						<nav id="top-menu">
								
				<ul><li id="menu-item-610" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-610"><a href="#">ติดตามเราที่ :</a></li>
<li id="menu-item-1114" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1114"><a href="https://www.cpe.ku.ac.th/?page_id=1111">สารบบ</a></li>
<li id="menu-item-1835-en" class="lang-item lang-item-31 lang-item-en menu-item menu-item-type-custom menu-item-object-custom menu-item-1835-en"><a href="https://www.cpe.ku.ac.th/?lang=en" hreflang="en-US" lang="en-US"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAIAAAD5gJpuAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAHzSURBVHjaYkxOP8IAB//+Mfz7w8Dwi4HhP5CcJb/n/7evb16/APL/gRFQDiAAw3JuAgAIBEDQ/iswEERjGzBQLEru97ll0g0+3HvqMn1SpqlqGsZMsZsIe0SICA5gt5a/AGIEarCPtFh+6N/ffwxA9OvP/7//QYwff/6fZahmePeB4dNHhi+fGb59Y4zyvHHmCEAAAW3YDzQYaJJ93a+vX79aVf58//69fvEPlpIfnz59+vDhw7t37968efP3b/SXL59OnjwIEEAsDP+YgY53b2b89++/awvLn98MDi2cVxl+/vl6mituCtBghi9f/v/48e/XL86krj9XzwEEEENy8g6gu22rfn78+NGs5Ofr16+ZC58+fvyYwX8rxOxXr169fPny+fPn1//93bJlBUAAsQADZMEBxj9/GBxb2P/9+S/R8u3vzxuyaX8ZHv3j8/YGms3w8ycQARmi2eE37t4ACCDGR4/uSkrKAS35B3TT////wADOgLOBIaXIyjBlwxKAAGKRXjCB0SOEaeu+/y9fMnz4AHQxCP348R/o+l+//sMZQBNLEvif3AcIIMZbty7Ly6t9ZmXl+fXj/38GoHH/UcGfP79//BBiYHjy9+8/oUkNAAHEwt1V/vI/KBY/QSISFqM/GBg+MzB8A6PfYC5EFiDAABqgW776MP0rAAAAAElFTkSuQmCC" title="English" alt="English"><span style="margin-left:0.3em;">English</span></a></li>
<li class="social-icons"><a href="mailto:cpe@ku.ac.th" rel="nofollow"><img src="https://www.cpe.ku.ac.th/wp-content/themes/academica_pro/images/social/email_small.png" width="16" height="16" alt=""></a><a href="https://www.facebook.com/KasetsartCPE" rel="nofollow"><img src="https://www.cpe.ku.ac.th/wp-content/themes/academica_pro/images/social/facebook_small.png" width="16" height="16" alt=""></a><a href="http://www.youtube.com/user/admissionengku" rel="nofollow"><img src="https://www.cpe.ku.ac.th/wp-content/themes/academica_pro/images/social/youtube_small.png" width="16" height="16" alt=""></a><a href="https://www.cpe.ku.ac.th/?feed=rss2&amp;lang=th" rel="nofollow"><img src="https://www.cpe.ku.ac.th/wp-content/themes/academica_pro/images/social/feed_small.png" width="16" height="16" alt=""></a></li></ul>			</nav><!-- end #top-menu -->

						<div id="header-helpful">

								<div class="search-form">
				<form method="get" id="searchform" action="https://www.cpe.ku.ac.th/">
	<fieldset>
		<input type="text" onblur="if (this.value == '') {this.value = 'Search';}" onfocus="if (this.value == 'Search') {this.value = '';}" value="Search" name="s" id="setop">
		<input type="submit" id="searchsubmit" value="Search">
	</fieldset>
</form>
 				</div><!-- end .search-form -->

				<span class="action">ติดต่อเราที่<span class="value">02-797-0999 x 1403</span></span>
			</div><!-- end #header-helpful -->

			<div class="cleaner">&nbsp;</div>

		</div><!-- end .wrapper -->

	</header>
