<nav class="navbar-fixed-top">
    <div style="background-color: green;">
        <div class="col-md-1"><a href="#home">Home</a></div> 
        <div class="col-md-1"><a href="#home">About</a></div> 
        <div class=""><a href="#home">Contact</a></div>
        </div>
</nav>