# <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<nav class="navbar navbar-fixed-top" style="background-color: #89E894">
    <ul class="nav navbar-nav">
        <li role="presentation"><a href="/">หน้าแรก</a></li>
        <li role="presentation" class"dropdown"><a href="#">หลักสูตร</a></li>
        <li role="presentation"><a href="/about">เกี่ยวกับเรา</a></li>
        <li role="presentation"><a href="/contact">ติดต่อเรา</a></li>
    </ul>
</nav>